<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item"><%= link_to "Rosters", rosters_path %></li>
        <li class="list-group-item"><%= link_to "Import Data", import_units_path %></li>
        <li class="list-group-item"><%= link_to "View Model Data", models_path %></li>
      </ul>
    </div>
    <div class="col-6"></div>
  </div>
</div>
